<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />

    <link href="~/Content/easyui/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/easyui/themes/icon.css" rel="stylesheet" />
    <link href="~/Content/css/gridtable.css" rel="stylesheet" />
    <style>       
         .label {vertical-align:middle;}
        html,body {
            height:100%;
            width:100%;
        }
     </style>

    <script src="~/Content/easyui/jquery.min.js"></script>
    <script src="~/Content/easyui/jquery.easyui.min.js"></script>
    <script src="~/Scripts/mylib/defaults.js"></script>
    <script src="~/Scripts/mylib/eui.extend-1.0.0.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body style="margin:0;padding:0">
    @RenderBody()
</body>
</html>
