@{
    ViewBag.Title = "公众号关注回复页面";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="padding-top:2px;">
    <form id="dataForm">
        <table class="gridtable">
            <tr>
                <td>选择公众号</td>
                <td>
                    <input class="easyui-combobox" id="sWeChatId" name="sWeChatId"
                           data-options="valueField:'ID',textField:'sWeChatName',width:300,panelHeight:'auto',url:'@Url.Action("GetList","WeChat")'" />
                    &nbsp;@Html.Partial("~/Views/Shared/_Btn.cshtml")
                </td>
            </tr>
        </table>
        <div class="content"></div>
   </form>
</div>
<script type="text/javascript">
    $(function () {
        $('#sWeChatId').combobox({
            //选择的值发生变化的时候触发
            onChange: function (newValue, oldValue) {
                eui.commitArgs.other = true;//手动处理回调
                eui.commitArgs.type = "GET";
                eui.commitArgs.dataType = "html";
                eui.commitArgs.url = "@Url.Action("Save")?sWeChatId=" + newValue;
                eui.commitArgs.success = function (r) {
                    $('.content').html('');
                    $('.content').append(r.trim());
                }
                eui.commit(eui.commitArgs);
            }
        });

        //所有按钮事件的绑定
        $(eui.form).on("click", 'a', function () {
            eui.dialogArgs.url = $(this).attr("data-url");
            switch ($(this).attr("data-mark")) {
                case 'save':
                    save();
                    break;
            }
        });

        //保存关注回复
        function save() {
            if ($(eui.form).form("validate")) {
                eui.commitArgs.other = false;
                eui.commitArgs.dataType = "json";
                eui.commitArgs.type = "POST";
                eui.commitArgs.url = eui.dialogArgs.url;
                eui.commitArgs.data = $(eui.form).serialize();
                eui.commitArgs.success = function (r) {
                    eui.alert(r.info);
                }
                eui.commit(eui.commitArgs);
            }
        }
    });
</script>

