@{
    ViewBag.Title = "微信菜单视图列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table id="wechat_menu"></table>
<div id="wechat_menu_toolbar" style="padding:5px;">
    <form id="searchForm">
        <div style="margin-bottom:5px;">
            <span class="label">所属公众号</span>
            <input class="easyui-combobox" name="sWeChatId" 
                   data-options="valueField:'ID',textField:'sWeChatName',width:170,panelHeight:'auto',url:'@Url.Action("GetList","WeChat")'" />
            <span class="label">模糊查询</span>
            <input class="easyui-textbox" name="keyword" data-options="iconCls:'icon-search',prompt:'菜单名称'">
            <a class="easyui-linkbutton" data-mark="search" data-options="width:60">查 询</a>
        </div>
    </form>
    @Html.Partial("~/Views/Shared/_Btn.cshtml")
</div>
<script type="text/javascript">
    $(function () {
        var grid = $('#wechat_menu');
        var toolbar = '#wechat_menu_toolbar';

        //所有按钮事件的绑定
        $(toolbar).on("click", 'a', function () {
            eui.dialogArgs.title = $(this).text();
            eui.dialogArgs.url = $(this).attr("data-url");
            eui.dialogArgs.width = 450;
            eui.dialogArgs.height = 350;
            switch ($(this).attr("data-mark")) {
                case 'search':
                    var params = eui.serializeJson(eui.searchForm);
                    grid.datagrid({ queryParams: params });
                    break;
                case 'add':
                    eui.dialogArgs.callback = operate;
                    eui.dialog(eui.dialogArgs);
                    break;
                case 'edit':
                    var selected = grid.datagrid('getSelections');
                    if (selected.length ==1) {
                        eui.dialogArgs.url = eui.dialogArgs.url + "?ID=" + selected[0].ID
                        eui.dialogArgs.callback = operate;
                        eui.dialog(eui.dialogArgs);
                    }
                    else
                        eui.alert("请选择一条数据操作");
                    break;
                case 'cancel':
                    cancel();
                    break;
            }
        });

        //微信菜单添加/编辑操作
        function operate() {
            if ($(eui.form).form("validate")) {
                eui.button.disable();
                eui.commitArgs.url = eui.dialogArgs.url;
                eui.commitArgs.data = $(eui.form).serialize();
                eui.commitArgs.success = function (r) {
                    eui.alert(r.info);
                    grid.datagrid('reload');
                }
                eui.commit(eui.commitArgs);
            }
        }


        //删除操作
        function cancel() {
            var selected = grid.datagrid('getSelections');
            if (selected.length > 0) {
                eui.confirm("确认要删除所选择的数据", function () {
                    var Ids = [];
                    $(selected).each(function () { Ids.push(this.ID) });
                    eui.commitArgs.url = eui.dialogArgs.url;
                    eui.commitArgs.data = { sWeChatMenuIds: Ids.join() };
                    eui.commitArgs.success = function (r) {
                        grid.datagrid('reload');
                        grid.datagrid("clearSelections");
                        eui.alert(r.info);
                    }
                    eui.commit(eui.commitArgs);
                });
            }
            else
                eui.alert("请选择一条数据操作");
        }


        //列表数据的绑定
        grid.datagrid({
            url: '@Url.Action("Index")',
            toolbar: toolbar,
            sortOrder: 'asc',
            sortName: 'iOrder',
            singleSelect: false,
            columns: [[
                { field: 'sMenuName', title: '菜单名称', align: 'center', width: 100 },
                { field: 'sTiggerType', title: '触发类型', align: 'center', width: 80 },
                { field: 'sUrl', title: '链接地址', align: 'center', width: 200 },
                { field: 'sKey', title: '事件推送Key', align: 'center', width: 120 },
                { field: 'sParentName', title: '所属菜单', align: 'center', width: 100 },
                { field: 'iOrder', title: '排序', align: 'center', width: 60 }
            ]],
        });

    })
</script>
