<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <typeAliases>
    <!--Dapper查询操作接口-->
    <typeAlias alias="IReading"  type="Framework.DBAccess.Dapper" />
    <typeAlias alias="ReadingManager" type="Framework.DBAccess.Dapper" />
    <typeAlias alias="IWriting"  type="Framework.DBAccess.Dapper" />
    <typeAlias alias="IWritingManager" type="Framework.DBAccess.Dapper" />
    <!--操作接口-->
    <typeAlias alias="IContext"    type="Framework.DBAccess.EF" />
    <typeAlias alias="WriteManage" type="Framework.DBAccess.EF" />
    
    <!--方法接口配置-->
    <!--菜单接口-->
    <typeAlias alias="IMenu"    type="SystemInterface.IMenu,SystemInterface" />
    <typeAlias alias="MenuServices" type="SystemModel.MenuServices,SystemModel" />
  
    <!--方法接口配置-->
  </typeAliases>
  <container>
    <register type="IReading" mapTo="ReadingManager" />
    <register type="IWriting" mapTo="IWritingManager" />
    <register type="IContext" mapTo="WriteManage" />

    <!--方法的映射-->
    <register type="IMenu" mapTo="MenuServices" />
  </container>
</unity>