<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <typeAliases>
    <!--Dapper查询操作接口-->
    <typeAlias alias="IReading"       type="Framework.DBAccess.Dapper.IReading,Framework.DBAccess" />
    <typeAlias alias="ReadingManager" type="Framework.DBAccess.Dapper.ReadingManager,Framework.DBAccess" />
    <typeAlias alias="IWriting"       type="Framework.DBAccess.Dapper.IWriting,Framework.DBAccess" />
    <typeAlias alias="WritingManager" type="Framework.DBAccess.Dapper.WritingManager,Framework.DBAccess" />
    
    <!--方法接口配置-->
    <!--管理员接口-->
    <typeAlias alias="IUser"    type="Framework.Interfaces.IUser,Framework.Interfaces" />
    <typeAlias alias="UserServices" type="Framework.Services.UserServices,Framework.Services" />
    <!--菜单接口-->
    <typeAlias alias="IMenu"    type="Framework.Interfaces.IMenu,Framework.Interfaces" />
    <typeAlias alias="MenuServices" type="Framework.Services.MenuServices,Framework.Services" />
    <!--按钮接口-->
    <typeAlias alias="IButton"    type="Framework.Interfaces.IButton,Framework.Interfaces" />
    <typeAlias alias="ButtonServices" type="Framework.Services.ButtonServices,Framework.Services" />
    <!--角色接口-->
    <typeAlias alias="IRole"    type="Framework.Interfaces.IRole,Framework.Interfaces" />
    <typeAlias alias="RoleServices" type="Framework.Services.RoleServices,Framework.Services" />
    <!--数据字典接口-->
    <typeAlias alias="IDictionary"    type="Framework.Interfaces.IDictionary,Framework.Interfaces" />
    <typeAlias alias="DictionaryServices" type="Framework.Services.DictionaryServices,Framework.Services" />
    <!--微信公众号接口-->
    <typeAlias alias="IWeChat"    type="Framework.Interfaces.IWeChat,Framework.Interfaces" />
    <typeAlias alias="WeChatServices" type="Framework.Services.WeChatServices,Framework.Services" />
    <!--微信公众号菜单接口-->
    <typeAlias alias="IWeChatMenu"    type="Framework.Interfaces.IWeChatMenu,Framework.Interfaces" />
    <typeAlias alias="WeChatMenuServices" type="Framework.Services.WeChatMenuServices,Framework.Services" />
    <!--微信公众号关注回复接口-->
    <typeAlias alias="IWeChatConcern"    type="Framework.Interfaces.IWeChatConcern,Framework.Interfaces" />
    <typeAlias alias="WeChatConcernServices" type="Framework.Services.WeChatConcernServices,Framework.Services" />
    <!--微信公众号关键字回复接口-->
    <typeAlias alias="IWeChatKeyWord"    type="Framework.Interfaces.IWeChatKeyWord,Framework.Interfaces" />
    <typeAlias alias="WeChatKeyWordServices" type="Framework.Services.WeChatKeyWordServices,Framework.Services" />
    
  
    <!--方法接口配置-->
  </typeAliases>
  <container>
    <register type="IReading" mapTo="ReadingManager" />
    <register type="IWriting" mapTo="WritingManager" />

    <!--方法的映射-->
    <register type="IUser" mapTo="UserServices" />
    <register type="IMenu" mapTo="MenuServices" />
    <register type="IButton" mapTo="ButtonServices" />
    <register type="IRole" mapTo="RoleServices" />
    <register type="IDictionary" mapTo="DictionaryServices" />
    <register type="IWeChat" mapTo="WeChatServices" />
    <register type="IWeChatMenu" mapTo="WeChatMenuServices" />
    <register type="IWeChatConcern" mapTo="WeChatConcernServices" />
    <register type="IWeChatKeyWord" mapTo="WeChatKeyWordServices" />
  </container>
</unity>