@{
    ViewBag.Title = "添加角色";
}
<form id="dataForm">
    <table class="gridtable">
        <tr>
            <td>角色名称</td>
            <td>
                <input class="easyui-textbox" name="sRoleName" data-options="required:true">
            </td>
        </tr>
    </table>
</form>